
html {
    font: 16px/1.5 sans-serif;
} 

body {
    background-color: #aaa;
    
}
img {
    max-height: 139px;
    width: auto;
}
table {
    border: 1px solid black;
    width: 1000px;
    margin: 0 auto;
}

td {
    border: 1px solid black;
}

.head {
    color: #fff;
    background-color: #bbb;
    text-align: center;
    padding: 0.5rem 0 2rem 0;
}

.foot {
    padding-bottom: 0.5rem;
    text-align: center;
}

.img1 {
    padding: 0.5rem;
    text-align: center;
    background-color: #fa0;
}

.img2 {
    padding: 0.5rem;
    text-align: center;
    background-color: #fD0;
}

.left {
    text-align: left;
    background-color: #fa0;
}

.right {
    text-align: right;
    background-color: #fD0;
}

.atxt {
    background-color: #fD0;
    text-align: left;

}

.aimg {
    padding: 0.5rem;
    text-align: center;
    background-color: #fa0;
}

.aimg img {
    margin: 0.5rem;

}

.abez {
    background-color: #fD0;
}